.default-button {
    width: 100%;
    height: 40px;
    border: 1px solid var(--primary-color) !important;
    background-color: var(--WHITE);
}

.default-button span {
    line-height: 30px;
}

.default-button:hover {
    background-color: var(--ALLEN_LIGHT_10) !important;
}

.dark-theme-ghost-button {
    color: white !important;
    padding: 4px 8px;
}

.dark-theme-ghost-button:hover {
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
    background-color: var(--ALLEN_LIGHT_10) !important;
}
