/* Semantic color names */
:root {
    --WHITE: #FFFFFF
    --OFF_WHITE: #F2F2F2
    --RAIN_SHADOW: #CBCBCC
    --SERIOUS_GRAY: #323233

    --ALLEN_LIGHT_10: #DFE5EA
    --ALLEN_LIGHT_30: #9FB1C0
    --ALLEN_LIGHT_60: #607E96
    --ALLEN_BLUE: #003057

    --primary-color: var(--ALLEN_BLUE)
    --border-color: var(--RAIN_SHADOW)
    --disabled: var(--RAIN_SHADOW)
    --link-color: #0094FF
    --small-table-border-color: var(--RAIN_SHADOW)
    --main-card-header-color: var(--primary-color)
}

