/* Semantic color names */
:root {
    --LIGHT_BLUE: #4864a3;
    --DARK_BLUE: #00215F;
    --DEEP_BLUE: #003057;
    --MEDIUM_BLUE: #084b9f;
    --PALE_BLUE: #93a2c8;
    --BLUE: #003075;
    --WHITE: #FFFFFF;
    --OFF_WHITE: #F2F2F2;
    --LIGHT_GRAY: #E5E9F1;
    --MEDIUM_GRAY: #DDDDDD;
    --DARK_GRAY: #CBCBCC;
    --BLACK: #323233;
    --border-color: var(--DARK_GRAY);
    --disabled: var(--DARK_GRAY);
    --link-color: #0094FF;
    --small-table-border-color: var(--MEDIUM_GRAY);
    --main-card-header-color: var(--DEEP_BLUE);
}

