/* Semantic color names */
:root {
    --GRAY: #F2F2F2;
    --LIGHT_BLUE: #4864a3;
    --DARK_BLUE: #00215F;
    --MEDIUM_BLUE: #084b9f;
    --PALE_BLUE: #93a2c8;
    --BLUE: #003075;
    --WHITE: #FFFFFF;
    --OFF_WHITE: #F2F2F2;
    --LIGHT_GRAY: #E5E9F1;
    --DARK_GRAY: #CBCBCC;
    --BLACK: #323233;
    --border-color: var(--DARK_GRAY);
    --disabled: var(--DARK_GRAY);
}

