.container {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 0 1 auto;
    min-width: 800px;
}

.container :global(.ant-card-head) {
    border: none;
    flex: 0 0 auto;
}

.container :global(.ant-card-body) {
    flex: 1 1 auto;
    margin: 30px 40px 46px;
    padding: 0;
    display: flex;
    overflow: hidden;
    gap: 64px;
    justify-content: flex-start;
}

.container :global(.ant-card-head-title) {
    border-bottom: 1px solid var(--RAIN_SHADOW);
}

.container .header {
    width: 100%;
}

.container .title-section,
.container h3 {
    font-weight: 400;
}

.container .main-title {
    color: var(--SERIOUS_GRAY);
}

.right-title {
    font-size: 12px;
    font-style: italic;
    margin-top: auto;
}


.primary-image-only {
    width: 75%;
}

.primary-image-with-thumbnail {
    width: 80%;
    flex: 1 1 auto;
}

.caption {
    flex: 0 0 auto;
    max-height: 15%;
    overflow-y: auto;
    line-height: 1.4;
    margin: 0;
    font-size: 12px;
}

.thumbnail-container {
    flex: 0 0 auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* #2 */
.thumbnail-container::-webkit-scrollbar-thumb {
    background-color: var(--OFF_WHITE);
    border: 1px solid var(--SERIOUS_GRAY);
    border-radius: 40px;
}

.thumbnail-container::-webkit-scrollbar {
    width: 8px;
}