.container {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    /* height: 100%; */
}

.container :global(.ant-card-head) {
    border: none;
}
.container :global(.ant-card-head-title) {
    border-bottom: 1px solid #ddd;
}
