.container :global(.ant-card-head) {
    background-color: var(--main-card-header-color);
    color: white;
    padding: 16px 28px;
    border-radius: 4px 4px 0 0;
}

.container .title {
    font-size: 48px;
    font-weight: 600;
    color: white;
}

.container :global(.ant-card-head-title .ant-btn) {
    color: white;
    padding: 4px 8px;
}

.container :global(.ant-card-head-title .ant-btn):hover,
.container :global(.ant-card-head-title .ant-btn):focus,
.container :global(.ant-card-head-title .ant-btn):active {
    color: white;
    border: 1px solid white;
}
