.container {
    border: 1px solid var(--DEEP_BLUE);
    border-radius: 4px;
}

.container :global(.ant-card-head) {
    background-color: var(--main-card-header-color);
    color: white;
    padding: 16px 28px;
    border-radius: 3px 3px 0 0;
    height: 79px;
}

.container .title {
    font-size: 48px;
    font-weight: 600;
    color: white;
}

.container :global(.ant-card-body) {
    padding: 16px 20px;
}

.container .share-button {
    color: white;
    padding: 4px 8px;
}

.container .share-button:hover {
    color: var(--DEEP_BLUE) !important;
    border: 1px solid var(--DEEP_BLUE) !important;
    background-color: var(--ALLEN_BLUE_10) !important;
}

.container :global(.ant-card-head-title .ant-btn):hover,
.container :global(.ant-card-head-title .ant-btn):focus,
.container :global(.ant-card-head-title .ant-btn):active {
    color: white;
    border: 1px solid white;
}

.container .small-button {
    width: 100%;
    height: 40px;
    border: 1px solid var(--DEEP_BLUE);
    margin-top: 8px;
}

.container .small-button span {
    line-height: 30px;
}

.container .small-button:hover {
    background-color: var(--OFF_WHITE) !important;
}

.extra-large-button {
    width: 100%;
    height: 102px;
    border: 2.5px solid var(--DEEP_BLUE);
    margin-top: 20px;
    background-color: var(--ALLEN_BLUE_10);
}

.extra-large-button h2 {
    font-size: 24px;
    font-weight: 600;
}

.extra-large-button:hover {
    color: var(--DEEP_BLUE) !important;
    transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: linear-gradient(
        180deg,
        #0b9aab 0%,
        rgba(11, 154, 171, 0.5) 100%
    ) !important;
}
