.container {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.container :global(.ant-card-head) {
    background-color: var(--main-card-header-color);
    color: white;
    padding: 16px 28px;
    border-radius: 3px 3px 0 0;
    height: 79px;
}

.container .title {
    font-size: 48px;
    font-weight: 600;
    color: white;
}

.container :global(.ant-card-body) {
    padding: 16px 20px;
}

.container :global(.ant-card-head-title .ant-btn):hover,
.container :global(.ant-card-head-title .ant-btn):focus,
.container :global(.ant-card-head-title .ant-btn):active {
    color: white;
    border: 1px solid white;
}

.extra-large-button {
    width: 100%;
    height: 102px;
    border: 2.5px solid var(--primary-color);
    margin-top: 16px;
    background-color: var(--ALLEN_LIGHT_10);
    display: flex;
    flex-direction: column;
}

.extra-large-button h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10.5px;
    margin-bottom: 0;
}

.extra-large-button:hover {
    color: var(--primary-color) !important;
    transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: linear-gradient(
        180deg,
        #0b9aab 0%,
        rgba(11, 154, 171, 0.5) 100%
    ) !important;
}
