.modal :global(.ant-modal-content) {
    border: 2px solid #003075;
    border-radius: 10px;
    padding: 0;
}

.modal :global(.ant-modal-header) {
    border-bottom: 2px solid #003075;
    padding: 8px 32px;
    border-radius: 10px 10px 0 0;
}

.modal :global(.ant-modal-body) {
    padding: 8px 32px;
}

.modal :global(.ant-modal-footer) {
    border-top: 2px solid #003075;
    padding: 16px 32px;
    border-radius: 0 0 10px 10px;
    margin-top: 10px;
}

.modal :global(.ant-modal-close) {
    top: 10px;
}

.modal :global(.ant-descriptions-row) {
    font-family: "Open Sans", sans-serif;
    height: 46px;
}

.modal :global(.ant-descriptions-item) {
    vertical-align: middle;
    border-bottom: 1px solid var(--border-color);
}

.modal :global(.ant-descriptions-row:last-child .ant-descriptions-item) {
    border-bottom: none;
}

.modal :global(.ant-divider) {
    font-size: 33px;
}

.header {
    font-size: 24px;
    line-height: 33px;
}

.title {
    font-style: italic;
    font-weight: 600;
    display: inline-block;
    color: var(--BLACK);
}

.sub-title {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    margin-right: 10px;
}

.clone {
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
}

.link-out-container {
    position: absolute;
    display: inline-block;
    width: 333px;
}

.link-out-container span {
    position: relative;
    right: 0;
    top: -3px
}

.link-out-container:hover path{
    stroke: var(--WHITE);
}