.container {
    margin-bottom: 8px;
    max-width: 1728px;
}

.table-title {
    margin-right: 18px;
    line-height: 0;
}

.container :global(.ant-table) {
    border-radius: 4px 4px 0 0;
}

.container :global(.ant-table-container) {
    border-right: 1.5px solid #cbcbcc;
    border-left: 1.5px solid #cbcbcc;
}

.container :global(.ant-table-title) {
    border-top: 1.5px solid #cbcbcc;
    border-radius: 4px 4px 0 0 !important;
    border-bottom: 3px solid #003075;
    border-right: 1.5px solid #cbcbcc;
    border-left: 1.5px solid #cbcbcc;
}

.container :global(.ant-table-thead .ant-table-cell) {
    padding: 10px 16px 10px 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    color: #323233;
}

.container :global(.ant-table-cell) {
    vertical-align: middle;
}

.snp-column {
    max-width: 380px;
    text-wrap: balance;
}

.action-button {
    max-width: 64px;
}

.action-button a {
    text-wrap: wrap;
    text-align: left;
}

.clones {
    text-wrap: balance;
}

.container :global(.ant-table-footer) {
    background-color: #f2f2f2;
    padding: 8px 0;
    border-radius: 0;
    font-size: 14px;
    color: #4864a3;
}

.container h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #323233;
    margin: 2px;
}

.container :global(.ant-table-cell .ant-tag) {
    color: #323233;
    font-size: 14px;
}

.container :global(.ant-table-cell .ant-btn) {
    font-weight: 600;
    font-size: 16px;
}

.container :global(.ant-table-title .ant-tag) {
    color: #93a2c8;
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 4px 8px;
}
