.body p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.body h2 {
    font-size: 33px;
    font-weight: 400;
    line-height: 39px;
}

.body h3 {
    font-weight: 700;
    line-height: 33px;
    color: #00215f;
    font-size: 24px;
}
