.modal :global(.ant-modal-content) {
    border: 2px solid #003075;
    border-radius: 10px;
    padding: 0;
}

.modal :global(.ant-modal-header) {
    border-bottom: 2px solid #003075;
    padding: 8px 32px;
}

.modal :global(.ant-modal-body) {
    padding: 8px 32px;
}

.modal :global(.ant-modal-footer) {
    border-top: 2px solid #003075;
    padding: 16px 32px;
    border-radius: 0 0 10px 10px;
}

.modal :global(.ant-modal-close) {
    top: 10px;
}

.modal :global(.ant-descriptions-row) {
    border-bottom: 1px solid #cbcbcc;
}

.modal :global(.ant-divider) {
    font-size: 33px;
}

.header {
    font-size: 24px;
    line-height: 33px;
}

.title {
    font-style: italic;
    font-weight: 600;
    display: inline-block;
    color: #323233;
}

.sub-title {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    margin-right: 10px;
}

.clone {
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
}
